/**
 * Styles for admin UI of iG:Syntax Hiliter plugin
 * 
 * @author: Amit Gupta
 * @since: 2012-08-25
 * @version: 2013-02-17
 */

#ig-sh-admin-ui {
	margin-left: 3.2%;
}

#ig-sh-admin-ui tr td {
	padding-bottom: 20px; vertical-align: top;
}

#ig-sh-admin-ui tr td label {
	font-weight: bold; cursor: text;
}

.ig-sh-option {
	width: 90%; text-align: center;
}

#loading-img {
	width: 15px; height: 15px; vertical-align: middle;
}

.ig-sh-error {
	color: #CC0000;
}

.ig-sh-success {
	color: #009900;
}

.important {
	font-weight: bold; color: #AA0000;
}

#igsh-time-to-rebuild {
	font-style: italic;
}
