/**
 * Styles for UI of iG:Syntax Hiliter plugin
 * 
 * @author: Amit Gupta
 * @since: 2012-12-30
 * @version: 2013-01-29
 */

.syntax_hilite, .syntax_hilite ol, .syntax_hilite ol li, .syntax_hilite ol li div, .syntax_hilite .pre {
	background: #FFFFFF;
}
.syntax_hilite {
	width: 90%; margin: 10px 0px 20px 10px;
	border: 1px solid #CCCCCC; border-left: none; border-right: none;
}
.syntax_hilite ol, .syntax_hilite .pre {
	width: 94%; line-height: 1.5em;
	margin-bottom: 0px; padding-top: 5px; font-size: 0.85em;
}
.syntax_hilite .pre {
	margin-bottom: 20px; margin-left: 0.5em; white-space: pre-line;
}
.syntax_hilite ol {
	list-style-type: decimal-leading-zero; list-style-position: outside;
	margin-left: 1.3em;
}
.syntax_hilite ol li, .syntax_hilite ol li div {
	vertical-align: middle !important;
}
.syntax_hilite ol li, .syntax_hilite .pre {
	font-family: 'Courier New', Courier, monospace; color: #000000; font-weight: normal; font-style: normal;
}


.syntax_hilite .toolbar {
	width: 97.5%; margin: 0px 0px 10px 0px; padding: 5px 10px 5px 4px; background: #EEEEEE;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; font-size: 0.75em;
}
.syntax_hilite .toolbar, .syntax_hilite .toolbar a {
	color: #555555;
}
.syntax_hilite .toolbar a {
	text-decoration: none;
}
.syntax_hilite .toolbar .language-name, .syntax_hilite .toolbar .view-different, .syntax_hilite .toolbar .filename {
	display: inline-block;
}
.syntax_hilite .toolbar .view-different {
	float: left; width: 40%; text-align: left;
}
.syntax_hilite .toolbar .filename {
	float: right; text-align: right;
}
.syntax_hilite .toolbar .language-name {
	font-weight: bold; text-transform: uppercase; width: 18%; text-align: center;
	cursor: default;
}
