/**
 * Placeholders for front-end.css
 *
 * @author: Amit Gupta
 *
 * @since: 2015-08-05
 */

%hilited-code-font {
	font-family: 'Courier New', Courier, monospace;
	color: #000000;
	font-weight: normal;
	font-style: normal;
}

%hilited-code-inner-container {
	width: 94%;
	line-height: 1.5em;
	margin-bottom: 0px;
	padding-top: 5px;
	font-size: 0.85em;
}

