/**
 * Variables for front-end.css
 *
 * @author: Amit Gupta
 *
 * @since: 2015-08-05
 */

$toolbar-view-different-width: 25%;
$toolbar-language-name-width: 20%;
$toolbar-language-name-l-margin: 10%;
$toolbar-filename-l-margin: 1%;

