/**
 * Styles for admin UI of iG:Syntax Hiliter plugin
 *
 * @author: Amit Gupta
 *
 * @since: 2012-08-25
 * @version: 2013-02-17
 * @version: 2015-07-22 - moved styles to this SASS file, modified width for .ig-sh-option on select dropdowns
 */

#ig-sh-admin-ui {
	margin-left: 3.2%;

	tr {
		td {
			padding-bottom: 20px;
			vertical-align: top;

			label {
				font-weight: bold;
				cursor: default;
			}
		}
	}
}

.ig-sh-option {
	width: 90%;

	@at-root select#{&} {
		width: 25%;
	}
}

#loading-img {
	width: 15px;
	height: 15px;
	vertical-align: middle;
}

.ig-sh-error {
	color: #CC0000;
}

.ig-sh-success {
	color: #008800;
	font-weight: bold;
}

.important {
	font-weight: bold;
	color: #AA0000;
}

#igsh-time-to-rebuild {
	font-style: italic;
}
